html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 80%;
  min-width: 200px;
  margin: 20px auto;
}

#chat {
  float: left;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

#chat .message {
  float: left;
  width: 96%;
  padding: 5px 2%;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

#chat .message .time {
  font-weight: bold;
}

#chat .message .user {
  font-weight: bold;
  margin-right: 5px;
}

#new-message {
  float: left;
  width: 100%;
  margin-top: 5px;
  vertical-align: middle;
}

#new-message textarea {
  float: left;
  width: 90%;
  resize: none;
  height: 30px;
}

#new-message button {
  float: right;
  width: 8%;
  height: 36px;
}